<a href="https://colab.research.google.com/github/ZeroLeon/NLP_Project_with_FastAI/blob/master/ContestData_preview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os 
from pathlib import Path
from google.colab import drive
drive.mount('/content/gdrive',force_remount = True)
base_dir = '/content/gdrive/My Drive/fastai'
path = Path(base_dir +'/data/this_topic')
path.mkdir(parents=True,exist_ok=True)
os.chdir(path)

# Pre-Processing

Transfer all contest data files to csv format and take a peek at the data.

In [0]:
path = Path('/content/gdrive/My Drive/contest/dataset')

In [0]:
os.chdir(path)

In [10]:
%ls

aichallenge2019_大数据应用分类标注提交样例.csv
aichallenge2019_大数据应用分类标注-选手.zip

In [11]:
!unzip aichallenge2019_大数据应用分类标注-选手.zip

Archive:  aichallenge2019_大数据应用分类标注-选手.zip
   creating: 大数据应用分类标注-选手/
  inflating: 大数据应用分类标注-选手/apptype_id_name.txt
  inflating: 大数据应用分类标注-选手/apptype_train.dat
  inflating: 大数据应用分类标注-选手/app_desc.dat

In [0]:
import numpy as np
import pandas as pd

from pathlib import Path
from typing import *

In [15]:
%cd bigdata_app

/content/gdrive/My Drive/contest/dataset/bigdata_app

In [0]:
df = pd.read_csv('app_desc.dat',header=None, sep='\s+', skiprows=0)

In [26]:
df.head()

                                  0                                                  1
0  BB29DA6F8167CFC99E0853741C4EB17B  注意]游戏需要在设备上自己的歌曲注意]音乐赛车是一个音乐改编的赛车游戏，你用你自己的音乐比赛...
1  BB2A78EA7AD4945EAF6E38997F6139A3  定位试衣到家是一款基于地理位置，提供试衣到家专属购物体验的互联网平台。购物流程客户在试衣到家...
2  BB2B1604CFA079C289FECF927DFBCE89  想念一个人,就说出来。记得要下载安卓锁屏才可正常显示锁屏效果哦~更新内容更稳定、更优质，邀您...
3  BB2C7BD0B0623644183DAD08A89E1D90  闽通宝手机客户端是基于移动互联网的，以公众出行服务为基础，贯彻绿色出行，低碳生活的理念，为出...
4  BB2E1A8F56158E483D7461E930E6332F  风靡全球的DIY照片桌面，干净、流畅，启动提速100，瞬间提升手机性能；更是一亿用户的共同选...

In [0]:
df_train = pd.read_csv('apptype_train.dat',header=None, sep='\s+',quoting=csv.QUOTE_NONE, encoding='utf-8')

In [29]:
df_train.head()

                                  0  ...                                                  2
0  00000777CE5B5AA5C1AC94DB8EABE0AC  ...  《游戏王座》使用说明书成分由怪兽卡、魔法卡、陷阱卡合计数千张卡牌以及刺激性、耐久性玩法组成。...
1  0000DEC36E15C27DBFC64AB8208C4B37  ...                                      更稳定、更优质，邀您一起。
2  0001791406307B1D1CE2BC64A830B7C7  ...  《小钱袋》是一款免费网络版记帐软件，适用于个人记帐、家庭记帐、团队记帐，全程帮您安全记录您财...
3  0002F14825B9CA01653325EEFD69D790  ...  领先的周易服务平台高人汇，汇聚算命大师、风水大师、占卜大师、手相大师、起名大师、算命先生、面...
4  000419D79365331F89399E5F38A91B05  ...  平行空间是一款极简、免费的黑科技双开助手；您可以在平行空间双开微信微博、陌陌、映客、yy等应...

[5 rows x 3 columns]

In [40]:
df.shape,df_train.shape

((94354, 2), (30000, 3))

In [0]:
df.rename(columns={0:'id',1:'txt'},inplace=True)
df.to_csv('app_desc.csv')

In [0]:
df_train.rename(columns={0:'id',1:'category',2:'txt'},inplace=True)
df_train.to_csv('app_train.csv')

In [0]:
df_id_name = pd.read_csv(path/'bigdata_app/apptype_id_name.txt',delimiter='\t',  header=None)

In [57]:
df_id_name.head()

      0     1
0  1401  便捷生活
1  1402    游戏
2  1403  通讯社交
3  1404    阅读
4  1405  工作求职

In [0]:
df_id_name.rename(columns={0:'category',1:'name'},inplace=True)
df_id_name.to_csv('category_to_name.csv')

In [59]:
df_id_name.shape

(152, 2)

In [0]:
df_id_name.sample(20)

## Checking category names and  corresponding id 

cat_name

In [0]:
cat_name = pd.read_csv(path/'category_to_name.csv',index_col=0)

In [0]:
cat_name['category'] = cat_name.category.apply(str)

In [55]:
cat_name[cat_name.category.str.len() <5]

   category  name
0      1401  便捷生活
1      1402    游戏
2      1403  通讯社交
3      1404    阅读
4      1405  工作求职
5      1406  影音娱乐
6      1407    教育
7      1408  出行旅游
8      1409    工具
9      1410  亲子儿童
10     1411    母婴
11     1412    汽车
12     1413    房产
13     1414  电子产品
14     1415  医疗健康
15     1417    美容
16     1418    美食
17     1419  体育运动
18     1420    支付
19     1421  金融理财
20     1422  美图摄影
21     1423    购物
22     1424  日常办公
23     1425    女性
24     1426    商家
25     1427    其他

In [25]:
cat_name.shape

(152, 2)

## Submission_example

In [0]:
df_example = pd.read_csv('/content/gdrive/My Drive/contest/dataset/aichallenge2019_大数据应用分类标注提交样例.csv')

In [57]:
df_example.head()

                                 id  label1  label2
0  BB29DA6F8167CFC99E0853741C4EB17B     1.0     1.0
1  BB2A78EA7AD4945EAF6E38997F6139A3     1.0     1.0
2  BB2B1604CFA079C289FECF927DFBCE89     1.0     1.0
3  BB2C7BD0B0623644183DAD08A89E1D90     1.0     1.0
4  BB2E1A8F56158E483D7461E930E6332F     1.0     1.0

In [61]:
df_example.tail()

                                     id  label1  label2
99994  F07F8C5D54728E8FB596F8A073AB1E04     NaN     NaN
99995  F080799F987643D9A87D020842A3A7B2     NaN     NaN
99996  F080BC23557EBE79AB123BE3F267786A     NaN     NaN
99997  F080C994A32BE85DFC8EA374267C1143     NaN     NaN
99998  F081F0A4AB58B925C96741C05ACB6078     NaN     NaN

In [60]:
df_example.label1.isna().value_counts()

True     85386
False    14613
Name: label1, dtype: int64

## Extract a df with single labels

In [0]:
 app_train = pd.read_csv(path/'app_train.csv',index_col=0)

In [19]:
app_train.head()

                                 id  ...                                                txt
0  00000777CE5B5AA5C1AC94DB8EABE0AC  ...  《游戏王座》使用说明书成分由怪兽卡、魔法卡、陷阱卡合计数千张卡牌以及刺激性、耐久性玩法组成。...
1  0000DEC36E15C27DBFC64AB8208C4B37  ...                                      更稳定、更优质，邀您一起。
2  0001791406307B1D1CE2BC64A830B7C7  ...  《小钱袋》是一款免费网络版记帐软件，适用于个人记帐、家庭记帐、团队记帐，全程帮您安全记录您财...
3  0002F14825B9CA01653325EEFD69D790  ...  领先的周易服务平台高人汇，汇聚算命大师、风水大师、占卜大师、手相大师、起名大师、算命先生、面...
4  000419D79365331F89399E5F38A91B05  ...  平行空间是一款极简、免费的黑科技双开助手；您可以在平行空间双开微信微博、陌陌、映客、yy等应...

[5 rows x 3 columns]

In [0]:
app_train.category.value_counts()

In [31]:
app_train.category.str.contains('\|').value_counts()

False    28866
True      1134
Name: category, dtype: int64

In [0]:
app_train_solo = app_train[~app_train.category.str.contains('\|')].copy()

In [34]:
app_train_solo.category.unique().shape

(125,)

In [0]:
app_train_solo.to_csv(path/'app_train_solo.csv',index=None)

## Prepare a df_train with main categories

In [0]:
import numpy as np
import pandas as pd
from pathlib import Path

In [0]:
path = Path('/content/gdrive/My Drive/contest/dataset/bigdata_app')
os.chdir(path)

In [0]:
df_train = pd.read_csv('app_train_solo.csv')

In [0]:
df_train.head()

                                 id  ...                                                txt
0  00000777CE5B5AA5C1AC94DB8EABE0AC  ...  《游戏王座》使用说明书成分由怪兽卡、魔法卡、陷阱卡合计数千张卡牌以及刺激性、耐久性玩法组成。...
1  0000DEC36E15C27DBFC64AB8208C4B37  ...                                      更稳定、更优质，邀您一起。
2  0001791406307B1D1CE2BC64A830B7C7  ...  《小钱袋》是一款免费网络版记帐软件，适用于个人记帐、家庭记帐、团队记帐，全程帮您安全记录您财...
3  0002F14825B9CA01653325EEFD69D790  ...  领先的周易服务平台高人汇，汇聚算命大师、风水大师、占卜大师、手相大师、起名大师、算命先生、面...
4  000419D79365331F89399E5F38A91B05  ...  平行空间是一款极简、免费的黑科技双开助手；您可以在平行空间双开微信微博、陌陌、映客、yy等应...

[5 rows x 3 columns]

In [0]:
df_train['category'] = df_train.category.apply(str)

In [0]:
df_train.to_csv('app_train_solo.csv')

In [0]:
df_train['field'] =   df_train.category.apply(lambda x:x[:4])
df_train.field.head()

0    1402
1    1402
2    1421
3    1427
4    1409
Name: field, dtype: object

In [0]:
df_train.groupby('field').count()

         id  category   txt
field
1401   1667      1667  1667
1402   6997      6997  6997
1403   1167      1167  1167
1404   1575      1575  1575
1405    211       211   211
1406   1451      1451  1451
1407   2063      2063  2063
1408    332       332   332
1409   4999      4999  4999
1410   1130      1130  1130
1411     55        55    55
1412    500       500   500
1413    152       152   152
1414    181       181   181
1415    372       372   372
1417     76        76    76
1418    106       106   106
1419    286       286   286
1420    117       117   117
1421   2474      2474  2474
1422    699       699   699
1423   1222      1222  1222
1424    412       412   412
1425     51        51    51
1426    277       277   277
1427    294       294   294

It's a very unbalanced dataset, need to take account in that later.

In [0]:
len(df_train.field.unique())

26

In [0]:
df_train.to_csv('df_train_solo.csv',index=None)

  # Quick checking with esay_classifier

It can be accessed in my  [github](https://github.com/ZeroLeon/easy_classifier).

In [0]:
os.chdir('/content/gdrive/My Drive/fastai/easy_classifier')

In [32]:
pwd

'/content/gdrive/My Drive/fastai/easy_classifier'

In [0]:
%%capture
!pip install -r requirements.txt

In [0]:
import numpy as np
import pandas as pd
import torch
from fastai import *
from fastai.vision import *
from fastai.text import *
from fastai.callbacks import *
from pathlib import Path

import utils,helper

In [52]:
from importlib import reload
reload(utils)

In [0]:
#Path of data files

#path = os.getcwd()
path_data = path

#Setup config
config_1 = utils.Config(
    testing=False,
    bert_model_name='bert-base-chinese', 
    max_lr=2e-5,
    epochs=1,
    bs=8, #Bantch Size
    text_cols  = ['txt'],
    label_cols = ['field'],
    max_seq_len=128, # Max value is 512
    num_labels = 26,  # 26 main categories totally
    train_file = 'df_train_solo.csv',
    test_file = None #None when no test data given
)

## Run sripts

In [0]:
helper.seed_everything()

In [0]:
df_train,df_test = helper.get_data(path_data,config_1.train_file, config_1.test_file)

In [40]:
learner = utils.get_learner(df_train,df_test,config_1)

100%|██████████| 520/520 [00:00<00:00, 87119.56B/s]
100%|██████████| 411577189/411577189 [00:37<00:00, 10877338.30B/s]

## Finetune Model

In [41]:
learner.fit_one_cycle(1, max_lr=config_1.max_lr)

In [42]:
learner.fit_one_cycle(1, max_lr=config_1.max_lr)

## Interpretation

In [0]:
intepret = TextClassificationInterpretation.from_learner(learner)

In [50]:
intepret.show_top_losses(8)

In [51]:
learner.predict('定位试衣到家是一款基于地理位置，提供试衣到家专属购物体验的互联网平台')

(Category 1423,
 tensor(21),
 tensor([0.0329, 0.0029, 0.0055, 0.0012, 0.0051, 0.0023, 0.0015, 0.0050, 0.0318,
         0.0013, 0.0045, 0.0056, 0.0104, 0.0142, 0.0043, 0.0055, 0.0047, 0.0037,
         0.0106, 0.0058, 0.0020, 0.7700, 0.0018, 0.0077, 0.0381, 0.0217]))